In [3]:
from langchain_google_genai import ChatGoogleGenerativeAI
from langchain.prompts import ChatPromptTemplate
import pandas as pd
from dotenv import load_dotenv
import os
from langchain.schema import HumanMessage

In [2]:
load_dotenv()
os.environ['GOOGLE_API_KEY']

'AIzaSyCCZj0GJoq3zPCa9rbnvam9fr0RVVozSew'

In [3]:
LLM = ChatGoogleGenerativeAI(model="gemini-1.5-flash",temperature=.7)

In [4]:
Excel_data = pd.read_excel(r'C:\Python_practice\GENAI\HR_Employee_Data.xlsx')

In [5]:
Excel_data

,Name,Age,Gender,Department,Job Role,Education Level,Years of Experience,Salary,Joining Date,Performance Score
0,Janet Singleton,38,Female,Human Resources,Data Analyst,High School,21,80087.24,2018-11-08,3
1,Jordan Pena,29,Male,Recruitment,Data Analyst,PhD,11,68210.35,2023-04-22,3
2,Ronald Stone,57,Non-Binary,Developers,HR Assistant,Bachelor,10,82308.70,2020-12-31,2
3,Troy Sullivan,43,Female,Developers,AI developer,Bachelor,25,93561.98,2018-10-20,5
4,Carly Bryant,41,Female,Compensation & Benefits,Compensation Analyst,Master,37,75423.59,2022-05-14,5
...,...,...,...,...,...,...,...,...,...,...
1995,Ronald Farmer,58,Female,Human Resources,HR Manager,Bachelor,26,70362.13,2019-08-07,5
1996,Brent Smith,44,Male,Human Resources,DevOps,Bachelor,40,60110.07,2018-08-02,3
1997,Ann Beck,38,Male,Training,HR Manager,Master,26,118618.68,2021-04-18,2
1998,Michael Ray,23,Female,Compensation & Benefits,AI developer,Bachelor,28,116915.84,2022-05-22,5
1999,Jason Scott,42,Female,Developers,Data Analyst,PhD,23,76873.29,2021-06-16,3

In [5]:
Analysis_prompt = ChatPromptTemplate.from_messages([
    ("system",
    """You are a smart, friendly, and highly focused data analysis assistant. You analyze the provided Excel HR dataset and respond clearly and precisely in natural language.

Excel dataset: {Excel_data}

GUIDELINES:
1. Use ONLY the data directly present in the Excel dataset above for ALL responses.
2. You are allowed and expected to perform simple data analysis tasks on the dataset such as sorting, filtering, aggregation (e.g., finding the highest salary, average, counts).
3. If the user asks for the highest paid employee, find the employee with the maximum salary by analyzing the dataset and respond with a clear sentence like: "Saran is the highest paid employee with a salary of $20,000."
4. If the requested information is not present or cannot be determined from the data, respond clearly: "This information is not available in the dataset."
5. Do NOT guess, infer, or fabricate data outside what is given.
6. Answer ONLY what the user asks. Do not provide extra summaries or charts unless requested.
7. For greetings or general chit-chat, respond politely and ask if you can help with the dataset.

Your goal is to help users quickly get exactly the information they need from the dataset by reading and analyzing it.
"""),
    ("placeholder", "{message}")
])

In [ ]:
response_chain = Analysis_prompt | LLM

Question = "give me the highest paid employee"

User_input = {

    "message" : [Question],
    "Excel_data": Excel_data
}

Response = response_chain.invoke(User_input)

In [7]:
print(Response.content)

Ann Beck is the highest paid employee with a salary of $118618.68.